{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a New Auction</h1>
    <form action="{% url 'create_auction' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="starting_bid">Starting Bid</label>
            <input type="number" class="form-control" id="starting_bid" name="starting_bid">
        </div>
        <div class="form-group">
            <label for="image_url">Image URL</label>
            <input type="text" class="form-control" id="image_url" name="image_url">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category_name">
                <option value="Fashion">Fashion</option>
                <option value="Toys">Toys</option>
                <option value="Electronics">Electronics</option>
                <option value="Home">Home</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Listing</button>
{% endblock %}