{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Active Listings</h1>

        {% if auctions %}
            <div class="list-group">
                {% for auction in auctions %}
                <div class="list-group-item">
                    <h2><a href="{% url 'auction' auction.id %}" class="list-group-item-heading">{{ auction.title }}</a></h2>
                    <p class="list-group-item-text">{{ auction.description }}</p>
                    <p class="list-group-item-text">Current price: {{ auction.current_bid }}</p>
                    {% if auction.image_url %}
                        <img src="{{ auction.image_url }}" alt="{{ auction.title }}" class="img-fluid">
                    {% endif %}
                </div>
                {% empty %}
                <p class="list-group-item">No active auctions.</p>
                {% endfor %}
            </div>
        {% else %}
            <p>No active auctions.</p>
        {% endif %}
    </div>
{% endblock %}